XML/AT_VENTIL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Avis_Technique_Ventilation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Titre_AT"/>
        <xs:element ref="Titulaire"/>
        <xs:element ref="Code_Titulaire"/>
        <xs:element ref="Industriel"/>
        <xs:element ref="Code_Industriel"/>
        <xs:element ref="Num_AT"/>
        <xs:element ref="Liste_AT_Ancien"/>
        <xs:element ref="Date_Application"/>
        <xs:element ref="Date_Fin_Application" minOccurs="0"/>
        <xs:element ref="Usages"/>
        <xs:element ref="Caracteristiques"/>
        <xs:element ref="NB_AT"/>
        <xs:element ref="ATS"/>
        <xs:element ref="Equipements"/>
        <xs:element ref="Puissances_Extracteurs" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element default="0" name="Nb_Sde" type="xs:integer"/>
  <xs:element name="Liste_AT_Ancien">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="Num_AT_Ancien"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Puissances_Extracteurs">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <xs:element ref="ATS_PUISSANCES"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ATS_PUISSANCES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AT_PUISSANCES" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AT_PUISSANCES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="REFERENCE_AT"/>
        <xs:element maxOccurs="unbounded" ref="Caisson"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REFERENCE_AT" type="xs:string"/>
  <xs:element name="Caisson">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Reference_Caisson"/>
        <xs:element maxOccurs="unbounded" ref="CONFIG_PUISSANCES"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reference_Caisson" type="xs:string"> </xs:element>
  <xs:element name="CONFIG_PUISSANCES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Type_Logement_Puissances"/>
        <xs:element ref="Nbre_Sdb_WC"/>
        <xs:element ref="Nbre_Sdb"/>
        <xs:element ref="Nbre_WC"/>
        <xs:element ref="Nbre_SdE"/>
        <xs:element ref="Puissance_Qv"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type_Logement_Puissances" type="xs:integer"/>
  <xs:element name="Nbre_Sdb_WC" type="xs:integer"/>
  <xs:element name="Nbre_Sdb" type="xs:integer"/>
  <xs:element name="Nbre_WC" type="xs:integer"/>
  <xs:element name="Nbre_SdE" type="xs:integer"/>
  <xs:element name="Puissance_Qv" type="xs:float"/>
  <xs:element name="Type-EA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Presence_EA_Fixes"/>
        <xs:element ref="Presence_EA_Autoreglables"/>
        <xs:element minOccurs="0" ref="Dp1"/>
        <xs:element minOccurs="0" ref="Dp2"/>
        <xs:element minOccurs="0" ref="R_f"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type_Extraction">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="caisson"/>
        <xs:enumeration value="tourelle"/>
        <xs:enumeration value="caisson et tourelle"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Basse_Pression" type="xs:boolean"/>
  <xs:element name="Autoréglable" type="xs:boolean"/>
  <xs:element name="Hygroreglable" type="xs:boolean"/>
  <xs:element name="Double_Flux" type="xs:boolean"/>
  <xs:element name="Caracteristiques">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Double_Flux"/>
        <xs:element ref="Autoréglable"/>
        <xs:element ref="Hygroreglable"/>
        <xs:element ref="Basse_Pression"/>
        <xs:element ref="Type_Extraction"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Code_Industriel" type="xs:string"/>
  <xs:element name="Code_Titulaire" type="xs:string"/>
  <xs:element name="Titre_AT" type="xs:string"/>
  <xs:element name="Singularités">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Config_Optimisee" minOccurs="0"/>
        <xs:element minOccurs="0" ref="Changement_Bouche"/>
        <xs:element ref="EA_Fixes"/>
        <xs:element ref="EA_Autoréglables"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Collectif"/>
        <xs:element minOccurs="0" ref="Individuel"/>
        <xs:element minOccurs="0" ref="Hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EA_Fixes" type="xs:boolean"/>
  <xs:element name="EA_Autoréglables" type="xs:boolean"/>
  <xs:element name="Individuel" type="xs:boolean"/>
  <xs:element name="Hotel" type="xs:boolean"/>
  <xs:element name="Salle_de_bain_WC2" type="PieceHumide"/>
  <xs:element name="Salle_de_bain2" type="PieceHumide"/>
  <xs:element name="Salle_de_bain_WC_supp" type="PieceHumide"/>
  <xs:element name="Smea_Existant" type="xs:float"/>
  <xs:element name="SmeaMoins_Sdb_WC" type="xs:float"/>
  <xs:element name="N_Cdep" type="xs:float"/>
  <xs:element name="Crdbnrs">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <xs:element maxOccurs="unbounded" ref="Crdbnr"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type_Extracteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="References"/>
        <xs:element ref="N_Cdep"/>
        <xs:element minOccurs="0" ref="N_Crdbnr"/>
        <xs:element ref="Libelle_Cdep"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Libelle_Cdep" type="xs:string"/>
  <xs:element name="Extracteurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Type_Extracteur" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Equipements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Bouches">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="Type_Bouche">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="Code"/>
                    <xs:element ref="References"/>
                    <xs:element ref="Qmin"/>
                    <xs:element ref="QminF"/>
                    <xs:element ref="QminLimite"/>
                    <xs:element ref="QmaxF"/>
                    <xs:element ref="QmaxLimite"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Entrees">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="Type_Entree">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="Code"/>
                    <xs:element ref="References"/>
                    <xs:element ref="EA_min"/>
                    <xs:element ref="EA_max"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="Solutions"/>
        <xs:element ref="Extracteurs"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="N_Crdbnr" type="xs:float"/>
  <xs:element name="Solutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Type_Solution"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Titulaire" type="xs:string"/>
  <xs:element name="Industriel" type="xs:string"/>
  <xs:element name="Num_AT" type="xs:string"/>
  <xs:element name="Num_AT_Ancien" type="xs:string"/>
  <xs:element name="Date_Application" type="xs:string"/>
  <xs:element name="Collectif" type="xs:boolean"/>
  <xs:element name="HygroA" type="xs:integer"/>
  <xs:element name="HygroB" type="xs:integer"/>
  <xs:element name="HygroGaz" type="xs:integer"/>
  <xs:element name="Dp1" type="xs:integer" nillable="false"/>
  <xs:element name="Dp2" type="xs:integer"/>
  <xs:element name="R_f" type="xs:float"/>
  <xs:element name="NB_AT" type="xs:integer"/>
  <xs:element name="ATS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="AT"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element default="0" name="Optimisation" type="xs:boolean"/>
  <xs:element name="AT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="REF_AT"/>
        <xs:element ref="LIBELLE"/>
        <xs:element ref="HYGRO_A"/>
        <xs:element ref="HYGRO_B1"/>
        <xs:element ref="HYGRO_B2" minOccurs="0"/>
        <xs:element minOccurs="0" ref="Coupe_Tirage_Complementaire"/>
        <xs:element ref="GAZ"/>
        <xs:element ref="Type-EA"/>
        <xs:element ref="Optimisation"/>
        <xs:element ref="NB_CONFIG"/>
        <xs:element ref="CONFIGS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REF_AT" type="xs:NCName"/>
  <xs:element name="LIBELLE" type="xs:string"/>
  <xs:element name="HYGRO_A" type="xs:boolean"/>
  <xs:element name="HYGRO_B1" type="xs:boolean"/>
  <xs:element name="HYGRO_B2" type="xs:boolean"/>
  <xs:element name="Coupe_Tirage_Complementaire" type="PieceHumide"/>
  <xs:element name="GAZ" type="xs:boolean"/>
  <xs:element name="NB_CONFIG" type="xs:integer"/>
  <xs:element name="CONFIGS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="CONFIG"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CONFIG">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Type_Logement"/>
        <xs:element ref="Singularités"/>
        <xs:element ref="Nb_Sdb_WC"/>
        <xs:element ref="Nb_Sdb"/>
        <xs:element ref="Nb_WC"/>
        <xs:element ref="Nb_Sde"/>
        <xs:element ref="DEBIT_RT"/>
        <xs:element ref="LOCAUX"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element default="false" name="Changement_Bouche" type="xs:boolean"/>
  <xs:element name="Type_Logement" type="xs:integer"/>
  <xs:element name="Nb_Sdb_WC" type="xs:integer"/>
  <xs:element name="Nb_Sdb" type="xs:integer"/>
  <xs:element name="Nb_WC" type="xs:integer"/>
  <xs:element name="DEBIT_RT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Cdeps" minOccurs="0"/>
        <xs:element minOccurs="0" ref="Crdbnrs"/>
        <xs:element ref="Qv_Rep" minOccurs="0"/>
        <xs:element minOccurs="0" ref="Qv_Sou"/>
        <xs:element ref="Smea_RT2012" minOccurs="0"/>
        <xs:element minOccurs="0" ref="Smea_Existant"/>
        <xs:element ref="Module_1" minOccurs="0"/>
        <xs:element ref="Module_2" minOccurs="0"/>
        <xs:element ref="Qsupp_Sdb" minOccurs="0"/>
        <xs:element ref="Qsupp_WC" minOccurs="0"/>
        <xs:element minOccurs="0" ref="Qsupp_Sdb_WC"/>
        <xs:element ref="Qsupp_Cellier" minOccurs="0"/>
        <xs:element ref="SmeaMoins_Sdb" minOccurs="0"/>
        <xs:element minOccurs="0" ref="SmeaMoins_Sdb_M1"/>
        <xs:element minOccurs="0" ref="SmeaMoins_Sdb_M2"/>
        <xs:element ref="SmeaMoins_WC" minOccurs="0"/>
        <xs:element minOccurs="0" ref="SmeaMoins_WC_M1"/>
        <xs:element minOccurs="0" ref="SmeaMoins_WC_M2"/>
        <xs:element minOccurs="0" ref="SmeaMoins_Sdb_WC"/>
        <xs:element minOccurs="0" ref="SmeaMoins_Sdb_WC_M1"/>
        <xs:element minOccurs="0" ref="SmeaMoins_Sdb_WC_M2"/>
        <xs:element ref="SmeaMoins_Cellier" minOccurs="0"/>
        <xs:element minOccurs="0" ref="SmeaMoins_Cellier_M1"/>
        <xs:element minOccurs="0" ref="SmeaMoins_Cellier_M2"/>
        <xs:element minOccurs="0" ref="Ext_min"/>
        <xs:element minOccurs="0" ref="Ext_max"/>
        <xs:element minOccurs="0" ref="Borne_min"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmeaMoins_Sdb_M1" type="xs:float"/>
  <xs:element name="SmeaMoins_Sdb_M2" type="xs:float"/>
  <xs:element name="SmeaMoins_WC_M1" type="xs:float"/>
  <xs:element name="SmeaMoins_WC_M2" type="xs:float"/>
  <xs:element name="SmeaMoins_Sdb_WC_M1" type="xs:float"/>
  <xs:element name="SmeaMoins_Sdb_WC_M2" type="xs:float"/>
  <xs:element name="SmeaMoins_Cellier_M1" type="xs:float"/>
  <xs:element name="SmeaMoins_Cellier_M2" type="xs:float"/>
  <xs:element name="Qsupp_Sdb_WC" type="xs:float"/>
  <xs:element name="Cdeps">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Cdep"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cdep" type="xs:float"/>
  <xs:element name="Qv_Rep" type="xs:float"/>
  <xs:element name="Smea_RT2012" type="xs:float"/>
  <xs:element name="Module_1" type="xs:float"/>
  <xs:element name="Module_2" type="xs:float"/>
  <xs:element name="Qsupp_Sdb" type="xs:float"/>
  <xs:element name="Qsupp_WC" type="xs:float"/>
  <xs:element name="Qsupp_Cellier" type="xs:float"/>
  <xs:element name="SmeaMoins_Sdb" type="xs:float"/>
  <xs:element name="SmeaMoins_WC" type="xs:float"/>
  <xs:element name="SmeaMoins_Cellier" type="xs:float"/>
  <xs:element name="LOCAUX">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Cuisine" minOccurs="0"/>
        <xs:element ref="Salle_de_bain_WC" minOccurs="0"/>
        <xs:element minOccurs="0" ref="Salle_de_bain_WC2"/>
        <xs:element minOccurs="0" ref="Salle_de_bain_WC_supp"/>
        <xs:element ref="Salle_de_bain" minOccurs="0"/>
        <xs:element minOccurs="0" ref="Salle_de_bain2"/>
        <xs:element ref="Salle_de_bain_supp" minOccurs="0"/>
        <xs:element ref="WC_Unique" minOccurs="0"/>
        <xs:element ref="WC_Multiple" minOccurs="0"/>
        <xs:element minOccurs="0" ref="WC_Supp"/>
        <xs:element ref="Salle_eau_cellier" minOccurs="0"/>
        <xs:element ref="Salle_eau_cellier_supp" minOccurs="0"/>
        <xs:element ref="Salon" minOccurs="0"/>
        <xs:element ref="Chambre" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cuisine" type="PieceHumide"> </xs:element>
  <xs:element name="Salle_de_bain_WC" type="PieceHumide"> </xs:element>
  <xs:element name="Salle_de_bain" type="PieceHumide"> </xs:element>
  <xs:element name="Salle_de_bain_supp" type="PieceHumide"> </xs:element>
  <xs:element name="WC_Unique" type="PieceHumide"> </xs:element>
  <xs:element name="WC_Multiple" type="PieceHumide"> </xs:element>
  <xs:element name="WC_Supp" type="PieceHumide"> </xs:element>
  <xs:element name="Salle_eau_cellier" type="PieceHumide"> </xs:element>
  <xs:element name="Salle_eau_cellier_supp" type="PieceHumide"> </xs:element>
  <xs:element name="Salon" type="PieceSeche"> </xs:element>
  <xs:element name="Chambre" type="PieceSeche"> </xs:element>
  <xs:element name="Reference" type="xs:string"/>
  <xs:element name="Code" type="xs:string"/>
  <xs:element name="Qmin" type="xs:float"/>
  <xs:element name="QminF" type="xs:float"/>
  <xs:element name="QmaxF" type="xs:float"/>
  <xs:element name="Qvrep" type="xs:float"/>
  <xs:element name="Ext_min" type="xs:float"/>
  <xs:element name="Ext_max" type="xs:float"/>
  <xs:element name="Borne_min" type="xs:float"/>
  <xs:element name="QminLimite" type="xs:float"/>
  <xs:element name="QmaxLimite" type="xs:float"/>
  <xs:element name="Nombre" type="xs:int"/>
  <xs:element name="EA_min" type="xs:float"/>
  <xs:element name="EA_max" type="xs:float"/>
  <xs:element name="Entree" type="Structure_Entree"> </xs:element>
  <xs:complexType name="PieceHumide">
    <xs:sequence>
      <xs:element ref="Code"/>
      <xs:element ref="Qvrep"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PieceSeche">
    <xs:sequence>
      <xs:element maxOccurs="1" ref="Entree_Solution"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Config_Optimisee" type="xs:boolean"/>
  <xs:element name="Qv_Sou" type="xs:float"/>
  <xs:element name="Crdbnr" type="xs:float"/>
  <xs:element name="Type_Solution">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Code_Solution"/>
        <xs:element maxOccurs="unbounded" ref="Config_Solution"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Code_Solution" type="xs:string"/>
  <xs:element name="Config_Solution">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Solution_Libelle"/>
        <xs:element minOccurs="0" ref="Solution_Libre"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Entree"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solution_Libre" type="xs:float"/>
  <xs:element name="Entree_Solution">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Structure_Entree">
    <xs:sequence>
      <xs:element ref="Code"/>
      <xs:element ref="Nombre"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="References">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Reference"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Presence_EA_Autoreglables" type="xs:boolean"/>
  <xs:element name="Presence_EA_Fixes" type="xs:boolean"/>
  <xs:element name="Solution_Libelle" type="xs:string"/>
  <xs:element name="Date_Fin_Application" type="xs:string"/>
</xs:schema>
